@page "/collection"
@using CollectSFDataGui.Shared
@using CollectSFData.Azure
@using CollectSFData.Common
@using CollectSFData
@using BlazorApp.Helpers
@using Microsoft.Extensions.Logging
@using System.IO
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Net
@inject DialogService DialogService
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ILogger<Configuration> logger
@inject IJSRuntime JS

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

@if (_config == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h4 class="rz-text-h4">Collection</h4>
    <RadzenTemplateForm Data="@_config" Submit="@((ConfigurationProperties args) => { Submit(args); })">
        <div class="row">
            <div class="col-md-6">
                <RadzenFieldset Text="Collection Information">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Gather Type" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value=@_config.GatherType AllowClear="true"
                                Placeholder="select gather type" Data=@GatherTypes style="width: 100%;" Name="GatherType">
                            </RadzenDropDown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Start Time Stamp" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="StartDate" @bind-Value=@_config.StartTimeUtc />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="End Time Stamp" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="EndDate" @bind-Value=@_config.EndTimeUtc />
                        </div>
                    </div>
                </RadzenFieldset>
                <RadzenFieldset Text="Collection Log">
                    @* todo *@
                    <EventConsole @ref=@_logConsole />
                </RadzenFieldset>
                <RadzenFieldset Text="Operations">
                    <div class="row justify-content-left">
                        <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Light" Icon="cancel"
                            style="margin-left: 20px;" Text="Start" />
                        <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Secondary" style="margin-left: 20px;"
                            Click=@SaveFile />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="margin-left: 20px;" Text="Cancel"
                            Click="@Cancel" />
                    </div>
                </RadzenFieldset>
            </div>
        </div>
    </RadzenTemplateForm>

    <EventConsole @ref=@_console />
}

@code {
    List<string> GatherTypes;
    ConfigurationProperties _config { get; set; }
    ConfigurationProperties _tempConfig { get; set; }
    EventConsole _console;
    EventConsole _logConsole;
    List<string> _queuedConsoleMessages = new List<string>();
    List<string> _queuedLogConsoleMessages = new List<string>();
    const string _defaultConfigurationFile = "collectsfdata.options.json";

    protected override async Task OnInitializedAsync()
    {
#if DEBUG
//await Task.Delay(10000);
#endif

        GatherTypes = Enum.GetNames(typeof(CollectSFData.DataFile.FileTypesEnum)).ToList();
        await GetCurrentConfig();

        if (string.IsNullOrEmpty(_config.SaveConfiguration))
        {
            _config.SaveConfiguration = _defaultConfigurationFile;
        }
    }

    void Cancel()
    {
        Http.CancelPendingRequests();
    }

    async Task<string> CheckMessages()
    {
        string status = await Http.GetFromJsonAsync<string>("api/messages",
        JsonHelpers.GetJsonSerializerOptions());
        ConsoleLog($"CheckStatus():Server response:", status);
        return status;
    }

    async Task<string> CheckStatus()
    {
        string status = await Http.GetFromJsonAsync<string>("api/status",
        JsonHelpers.GetJsonSerializerOptions());
        ConsoleLog($"CheckStatus():Server response:", status);
        return status;
    }

    void ConsoleLog(string message, object jsonObject = null)
    {
        if (jsonObject != null)
        {
            StringBuilder sb = new StringBuilder(message);
            sb.AppendLine(JsonSerializer.Serialize(_config, new JsonSerializerOptions { WriteIndented = true }));
            message = sb.ToString();
        }

        _queuedConsoleMessages.Add(message);

        if (_console != null)
        {
            foreach (string queuedMessage in _queuedConsoleMessages)
            {
                _console.Log(queuedMessage);
            }
        }
    }

    async Task GetCurrentConfig()
    {
        _config = await Http.GetFromJsonAsync<ConfigurationProperties>("api/configurationJson",
        JsonHelpers.GetJsonSerializerOptions());
        ConsoleLog($"GetCurrentConfig():Server response:", _config);
    }

    void LogConsoleLog(string message, object jsonObject = null)
    {
        if (jsonObject != null)
        {
            StringBuilder sb = new StringBuilder(message);
            sb.AppendLine(JsonSerializer.Serialize(_config, new JsonSerializerOptions { WriteIndented = true }));
            message = sb.ToString();
        }

        _queuedLogConsoleMessages.Add(message);

        if (_logConsole != null)
        {
            foreach (string queuedMessage in _queuedLogConsoleMessages)
            {
                _logConsole.Log(queuedMessage);
            }
        }
    }
    void OnKeyPress(string value, Radzen.DialogService sender)
    {
        //Enter
        var keyboardInput = value;
        if (keyboardInput == "Enter")
        {
            sender.Close(true);
        }
    }

    void OnSetFileSavePath(string value)
    {

        _config.SaveConfiguration = value;
    }

    void OnUploadComplete(UploadCompleteEventArgs args)
    {
        string jsonString = args.RawResponse;

        ConsoleLog($"Server response: {jsonString}");
        StartCollection(jsonString);
    }

    public async Task ResultData()
    {
        _config = null;
        await CheckStatus();
        await CheckMessages();
        StateHasChanged();
    }


    public MemoryStream Serialize()
    {
        //https://stackoverflow.com/questions/8157636/can-json-net-serialize-deserialize-to-from-a-stream
        var fileStream = new MemoryStream();
        using (StreamWriter writer = new StreamWriter(fileStream))
            writer.Write(JsonSerializer.Serialize(_config));

        return new MemoryStream(fileStream.ToArray());
    }

    async Task SaveFile()
    {
        //https://learn.microsoft.com/en-us/aspnet/core/blazor/file-downloads?view=aspnetcore-7.0
        var fileStream = Serialize();
        var fileName = _config.SaveConfiguration;

        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

    void Submit(ConfigurationProperties arg)
    {
        StartCollection();
    }

    async void StartCollection(string uploadedJson = null)
    {
        HttpResponseMessage response = new HttpResponseMessage();
        response = await Http.PostAsJsonAsync("api/collection/start", uploadedJson, JsonHelpers.GetJsonSerializerOptions());

        string jsonString = await response.Content.ReadAsStringAsync();
        ConsoleLog($"StartCollection:responseString:{jsonString}");
        jsonString = jsonString.Replace("\"{", "{").Replace("}\"", "}").Replace("\\\"", "\"");

        if (response.StatusCode == HttpStatusCode.Created)
        {
            ConfigurationProperties configurationProperties = JsonSerializer.Deserialize<ConfigurationProperties>(jsonString,
            JsonHelpers.GetJsonSerializerOptions());
            ConsoleLog($"StartCollection:configurationProperties:{configurationProperties.NoProgressTimeoutMin}");
            _config = configurationProperties;
        }
        else
        {
            ConsoleLog($"ERROR:{response.StatusCode}");
            //await GetCurrentConfig();
        }
        await ResultData();
    }
}