@page "/configuration"
@using CollectSFDataGui.Shared
@using CollectSFData.Azure
@using CollectSFData.Common
@using CollectSFData
@using BlazorApp.Helpers
@using Microsoft.Extensions.Logging
@using System.IO
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Net
@inject DialogService DialogService
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ILogger<Configuration> logger
@inject IJSRuntime JS
@inject NotificationService notificationService

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

@if (_config == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h4 class="rz-text-h4">Configuration
        <RadzenIcon Icon=@_configurationStatusIcon IconStyle=@_configurationStatusIconStyle Visible="true" />
    </h4>
    <RadzenTemplateForm Data="@_config" Submit="@((ConfigurationProperties args) => { Submit(args); })">
        <div class="row">
            <div class="col-md-6">
                <RadzenFieldset Text="Required Information">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Gather Type" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value=@_config.GatherType AllowClear="true"
                                Placeholder="select gather type" Data=@GatherTypes style="width: 100%;" Name="GatherType">
                            </RadzenDropDown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Start Time Stamp" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="StartDate" @bind-Value=@_config.StartTimeUtc
                                ShowTime="true" ShowTimeOkButton="true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="End Time Stamp" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="EndDate" @bind-Value=@_config.EndTimeUtc
                                ShowTime="true" ShowTimeOkButton="true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Cluster Resource Uri" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@_config.ResourceUri
                                Placeholder="enter cluster resource uri (for support use only)" style="width: 100%;" />
                        </div>
                    </div>
                </RadzenFieldset>
                <RadzenFieldset Text="Table Information">
                    <RadzenTabs SelectedIndex="0">
                        <Tabs>
                            <RadzenTabsItem Text="Kusto">
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Kusto Table Name" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@_config.KustoTable style="width: 100%;"
                                            Name="KustoTableName" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Kusto Cluster" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@_config.KustoCluster
                                            Placeholder="https://ingest-sfcluster.kusto.windows.net/sfdatabase"
                                            style="width: 100%;" Name="KustoCluster" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Kusto Compressed" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@_config.KustoCompressed TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Kusto Recreate Table" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@_config.KustoRecreateTable TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Kusto Use Blob As Source" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@_config.KustoUseBlobAsSource TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Kusto Use Ingest Message" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@_config.KustoUseIngestMessage TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Log Analytics">
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Table Name" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@_config.LogAnalyticsName style="width: 100%;"
                                            Name="log analytics table name" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Id" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@_config.LogAnalyticsId style="width: 100%;"
                                            Placeholder="log analytics workspace id" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Key" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@_config.LogAnalyticsKey style="width: 100%;"
                                            Placeholder="log analytics workspace key" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Workspace Name" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@_config.LogAnalyticsWorkspaceName style="width: 100%;"
                                            Placeholder="name of log analytics workspace name (for creation only)" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Workspace Sku" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox @bind-Value=@_config.LogAnalyticsWorkspaceSku style="width: 100%;"
                                            Placeholder="name of log analytics workspace sku typically 'PerGB2018'" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Create Table" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@_config.LogAnalyticsCreate TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Log Analytics Recreate Table" />
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenSelectBar @bind-Value=@_config.LogAnalyticsRecreate TValue="bool">
                                            <Items>
                                                <RadzenSelectBarItem Text="On" Value="true" />
                                                <RadzenSelectBarItem Text="Off" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </div>
                                </div>
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </RadzenFieldset>
                <RadzenFieldset Text="Filters">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Container Filter" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@_config.ContainerFilter style="width: 100%;"
                                Placeholder="string or regex filter pattern for container names" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Node Filter" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@_config.NodeFilter style="width: 100%;"
                                Placeholder="string or regex filter pattern for node names" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Uri Filter" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@_config.UriFilter style="width: 100%;"
                                Placeholder="string or regex filter pattern for storage blob uris" />
                        </div>
                    </div>
                </RadzenFieldset>
                <RadzenFieldset Text="Operations">
                    <div class="row justify-content-left">
                        <RadzenUpload class="custom-upload" ChooseText="Upload" Url="upload/single"
                            Style="margin-left: 20px;" Complete="@(args => OnUploadComplete(args))" />
                        <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Secondary" style="margin-left: 20px;"
                            Click=@SaveOptionsFile />
                        <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Light"
                            style="margin-left: 20px;" Text="Validate" />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 20px;" Text="Cancel"
                            Click="@Cancel" />
                    </div>
                </RadzenFieldset>
            </div>
            <div class="col-md-6">
                <RadzenFieldset Text="Authorization">
                    <RadzenTabs SelectedIndex="0">
                        <Tabs>
                            <RadzenTabsItem Text="SAS Endpoint Information">
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="SAS Key" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@_config.SasKey Placeholder="enter sas key"
                                            style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Blob Endpoint" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox Value=@_config.SasEndpointInfo.BlobEndpoint style="width: 100%;"
                                            Disabled="true" ReadOnly="true" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Storage Account" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox Value=@_config.SasEndpointInfo.StorageAccountName
                                            style="width: 100%;" Disabled="true" ReadOnly="true" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="SAS Token" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox Value=@_config.SasEndpointInfo.SasToken style="width: 100%;"
                                            Disabled="true" ReadOnly="true" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Token Start Time Utc" />
                                    </div>
                                    <div class="col-md-3">
                                        <RadzenDatePicker style="width: 100%;" TValue="DateTime"
                                            @bind-Value=@_config.SasEndpointInfo.Parameters.SignedStartUtc Disabled="true"
                                            ReadOnly="true" />
                                    </div>
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Token Expire Time Utc" />
                                    </div>
                                    <div class="col-md-3">
                                        <RadzenDatePicker style="width: 100%;" TValue="DateTime"
                                            @bind-Value=@_config.SasEndpointInfo.Parameters.SignedExpiryUtc Disabled="true"
                                            ReadOnly="true" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Signed Services" />
                                    </div>
                                    <div class="col-md-3">
                                        <RadzenTextBox Value=@_config.SasEndpointInfo.Parameters.SignedServices
                                            style="width: 100%;" Disabled="true" ReadOnly="true" />
                                    </div>
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Signed Resource Types" />
                                    </div>
                                    <div class="col-md-3">
                                        <RadzenTextBox Value=@_config.SasEndpointInfo.Parameters.SignedResourceTypes
                                            style="width: 100%;" Disabled="true" ReadOnly="true" />
                                    </div>
                                </div>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Azure Configuration">
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Client Id" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@_config.AzureClientId
                                            Placeholder="enter azure client id" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Client Certificate" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@_config.AzureClientSecret
                                            Placeholder="enter azure client id certificate" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Client Secret" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@_config.AzureClientSecret
                                            Placeholder="enter client id secret" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Subscription Id" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@_config.AzureSubscriptionId
                                            Placeholder="enter azure subscription id" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Tenant Id" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@_config.AzureTenantId
                                            Placeholder="enter azure tenant id" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Resource Group" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@_config.AzureResourceGroup
                                            Placeholder="enter azure resource group (log analytics only)"
                                            style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="align-items-center d-flex col-md-3">
                                        <RadzenLabel Text="Azure Resource Group Location" />
                                    </div>
                                    <div class="col-md-9">
                                        <RadzenTextBox @bind-Value=@_config.AzureResourceGroupLocation
                                            Placeholder="enter azure resource group (log analytics only)"
                                            style="width: 100%;" />
                                    </div>
                                </div>
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </RadzenFieldset>
                <RadzenFieldset Text="Options">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Delete Cache" />
                        </div>
                        <div class="col-md-8">
                            <RadzenSelectBar @bind-Value=@_config.DeleteCache TValue="bool">
                                <Items>
                                    <RadzenSelectBarItem Text="On" Value="true" />
                                    <RadzenSelectBarItem Text="Off" Value="false" />
                                </Items>
                            </RadzenSelectBar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Unique Records" />
                        </div>
                        <div class="col-md-8">
                            <RadzenSelectBar @bind-Value=@_config.Unique TValue="bool">
                                <Items>
                                    <RadzenSelectBarItem Text="On" Value="true" />
                                    <RadzenSelectBarItem Text="Off" Value="false" />
                                </Items>
                            </RadzenSelectBar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Use Memory Stream" />
                        </div>
                        <div class="col-md-8">
                            <RadzenSelectBar @bind-Value=@_config.UseMemoryStream TValue="bool">
                                <Items>
                                    <RadzenSelectBarItem Text="On" Value="true" />
                                    <RadzenSelectBarItem Text="Off" Value="false" />
                                </Items>
                            </RadzenSelectBar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Use Tx" />
                        </div>
                        <div class="col-md-8">
                            <RadzenSelectBar @bind-Value=@_config.UseTx TValue="bool">
                                <Items>
                                    <RadzenSelectBarItem Text="On" Value="true" />
                                    <RadzenSelectBarItem Text="Off" Value="false" />
                                </Items>
                            </RadzenSelectBar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Cache Location" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@_config.CacheLocation style="width: 100%;"
                                Placeholder="local path for temporary cache files" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Log File" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@_config.LogFile style="width: 100%;"
                                Placeholder="path and file name for log file. example: c:/temp/collectsfdata-<yyyy-MM-dd-HH-mm>.log" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Log Debug Level" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric @bind-Value=@_config.LogDebug TValue="int" Min="0" Max="5" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="No Progress Timeout" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric @bind-Value=@_config.NoProgressTimeoutMin TValue="int" Min="0" Max="60" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Threads" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric @bind-Value=@_config.Threads TValue="int" Min="1" Max="64" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Options File" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value=@_config.SaveConfiguration style="width: 100%;"
                                Placeholder="enter configuration file name. example:collectsfdata.options.json" />
                        </div>
                    </div>

                </RadzenFieldset>
            </div>
        </div>
    </RadzenTemplateForm>

    <EventConsole @ref=@_console />
}

@code {
    List<string> GatherTypes;
    ConfigurationProperties _config { get; set; }
    ConfigurationProperties _tempConfig { get; set; }
    EventConsole _console;
    List<string> _queuedConsoleMessages = new List<string>();
    string _configurationStatusIcon = "info";
    IconStyle _configurationStatusIconStyle = IconStyle.Info;
    const string _defaultConfigurationFile = "collectsfdata.options.json";
    List<NotificationMessage> _queuedNotifications = new List<NotificationMessage>();

    protected override async Task OnInitializedAsync()
    {
#if DEBUG
//await Task.Delay(10000);
#endif

        GatherTypes = Enum.GetNames(typeof(CollectSFData.DataFile.FileTypesEnum)).ToList();
        await GetCurrentConfig();

        if (string.IsNullOrEmpty(_config.SaveConfiguration))
        {
            _config.SaveConfiguration = _defaultConfigurationFile;
        }
    }

    void Cancel()
    {
        Http.CancelPendingRequests();
    }

    void ConsoleLog(string message, object jsonObject = null)
    {
        if (jsonObject != null)
        {
            StringBuilder sb = new StringBuilder(message);
            sb.Append(JsonSerializer.Serialize(_config, new JsonSerializerOptions { WriteIndented = true }));
            message = sb.ToString();
        }

        _queuedConsoleMessages.Add(message);

        if (_console != null)
        {
            foreach (string queuedMessage in _queuedConsoleMessages)
            {
                _console.Log(queuedMessage);
            }
        }
    }

    async Task GetCurrentConfig()
    {
        _config = await Http.GetFromJsonAsync<ConfigurationProperties>("api/configuration/json",
        JsonHelpers.GetJsonSerializerOptions());
        ConsoleLog($"GetCurrentConfig():Server response:", _config);
    }

    void OnKeyPress(string value, Radzen.DialogService sender)
    {
        //Enter
        var keyboardInput = value;
        if (keyboardInput == "Enter")
        {
            sender.Close(true);
        }
    }

    void OnSetFileSavePath(string value)
    {

        _config.SaveConfiguration = value;
    }

    void OnUploadComplete(UploadCompleteEventArgs args)
    {
        string jsonString = args.RawResponse;

        ConsoleLog($"Server response: {jsonString}");
        UpdateConfig(jsonString);
    }

    public async Task RefreshData()
    {
        _config = null;
        await GetCurrentConfig();
        StateHasChanged();
    }


    public MemoryStream Serialize()
    {
        //https://stackoverflow.com/questions/8157636/can-json-net-serialize-deserialize-to-from-a-stream
        var fileStream = new MemoryStream();
        using (StreamWriter writer = new StreamWriter(fileStream))
            writer.Write(JsonSerializer.Serialize(_config));

        return new MemoryStream(fileStream.ToArray());
    }
    async Task SaveOptionsFile()
    {
        //https://learn.microsoft.com/en-us/aspnet/core/blazor/file-downloads?view=aspnetcore-7.0
        var fileStream = Serialize();
        var fileName = Path.GetFileName(_config.SaveConfiguration);

        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

    void Submit(ConfigurationProperties arg)
    {
        UpdateConfig();
    }

    async void UpdateConfig(string uploadedJson = null)
    {
        HttpResponseMessage response = new HttpResponseMessage();
        if (!string.IsNullOrEmpty(uploadedJson))
        {
            response = await Http.PostAsJsonAsync("api/configuration/update", uploadedJson, JsonHelpers.GetJsonSerializerOptions());
        }
        else
        {
            response = await Http.PostAsJsonAsync<ConfigurationProperties>("api/configuration/update", _config,
            JsonHelpers.GetJsonSerializerOptions());
        }
        string jsonString = await response.Content.ReadAsStringAsync();
        ConsoleLog($"UpdateConfig:responseString:{jsonString}");
        jsonString = jsonString.Replace("\"{", "{").Replace("}\"", "}").Replace("\\\"", "\"");

        if (response.StatusCode == HttpStatusCode.Created)
        {
            ConfigurationProperties configurationProperties = JsonSerializer.Deserialize<ConfigurationProperties>(jsonString,
            JsonHelpers.GetJsonSerializerOptions());
            ConsoleLog($"UpdateConfig:configurationProperties:{configurationProperties.NoProgressTimeoutMin}");
            _config = configurationProperties;
            _configurationStatusIcon = "check_circle";
            _configurationStatusIconStyle = IconStyle.Success;
        }
        else
        {
            ConsoleLog($"ERROR:{response.StatusCode}");
            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = jsonString
                });
            _configurationStatusIcon = "error";
            _configurationStatusIconStyle = IconStyle.Danger;
        }

        await RefreshData();
    }

    async void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
        _queuedNotifications.Add(message);
        await InvokeAsync(() => { StateHasChanged(); });
    }
}