@inherits LayoutComponentBase

<RadzenDialog/>
<div class="page">
    @if (IsOpened){
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <div class="main">
        <div class="top-row px-4">
            <RadzenButton Click="()=>IsOpened = !IsOpened" Text=@( this.IsOpened ? "<<" : ">>") ButtonStyle="ButtonStyle.Primary" />
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
     bool IsOpened {get; set;} = true;
}